{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Bienvenido a PisadaPro</h1>
    <p>Explora nuestra variedad de zapatillas y disfruta de una experiencia de compra única.</p>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="ruta/de/imagen1.jpg" class="card-img-top" alt="Zapatilla 1">
                <div class="card-body">
                    <h5 class="card-title">Zapatilla 1</h5>
                    <p class="card-text">Descripción breve de la zapatilla.</p>
                    <a href="#" class="btn btn-primary">Ver detalles</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="ruta/de/imagen2.jpg" class="card-img-top" alt="Zapatilla 2">
                <div class="card-body">
                    <h5 class="card-title">Zapatilla 2</h5>
                    <p class="card-text">Descripción breve de la zapatilla.</p>
                    <a href="#" class="btn btn-primary">Ver detalles</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="ruta/de/imagen3.jpg" class="card-img-top" alt="Zapatilla 3">
                <div class="card-body">
                    <h5 class="card-title">Zapatilla 3</h5>
                    <p class="card-text">Descripción breve de la zapatilla.</p>
                    <a href="#" class="btn btn-primary">Ver detalles</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
